html, body {
    margin: 0;
    padding: 0;
} 

.foot {
    background-color: #1f2937;
    height: 50px;
    font-size: 18px;
    color: #e5e7eb;
    display: flex;
    justify-content: center;

}

.head ul {
    display: flex; 
    list-style: none;
    justify-content: flex-end;
    background-color: #1f2937;
    color: white;
    height: 50px;
    align-items: center;

}

.head.ul.ll {
    justify-content: flex-start;
}

.top {
    background-color: #1f2937; 
    height: 500px;
    color: white;
    display: flex;
    justify-content: center;
    margin-top: -16px;
}

.mid {
   background-color: white;
   height: 500px; 
   display: flex;
   justify-content:center;
   align-items: center;
}

.awesome {
    display: flex 0 0 0;
    width: auto;
    align-content: center;
    margin-top: 120px;
}
 h1 {
    font-size: 48px;
    color: white;
}

.placeholder {
    width: 500px;
    height: 250px;
    background-color: grey;
    margin-top: 120px;
    display: flex;
    justify-content: center; 

}

.awesome-text {
    width: 500px;
    height: 250px;
}

.low {
    background-color: #e5e7eb;
    height: 500px;
    display: flex;
    justify-content: center;
    align-content: center;
    margin-top: 50px;
}

.box {
    border-radius: 15px;
    outline: 2px solid;
    outline-color: blue;
    height: 150px;
    width: 150px;
}

.subtext {
    height: 150px;
    width: 150px;
}

.information {
    align-self: center;
    text-align: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937
}

.author {
    font-weight: bold;
    font-size: 20px;
}

.quote-box {
    margin-top: 100px;
    width: 800px;
    height: 200px;
}

.bottom {
    background-color: white;
    height: 350px; 
    display: flex;
    align-content: center;
    justify-content: center;
}

.call-to-action {
    margin-top: 120px;
    color: white;
    background-color: blue;
    height: 100px;
    width: 600px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-content: center;
}